@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 16px;
}
.font-xl {
  font-size: 22px;
  font-weight: 600;
}
.font-m {
  font-size: 16px;
  line-height: 18px;
  color: #848484;
}
h2 {
  font-size: 15px;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 10px;
}
a {
  color: rgb(90, 90, 90);
  text-decoration: none;
}
header {
  display: flex;
  padding: 20px 10% 20px 10%;
  gap: 20px;
  flex-wrap: nowrap;
}

header .col3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

header button {
  border: 1px solid #1ab1ba;
  border-radius: 5px;
  background-color: white;
  width: 115px;
  height: 30px;
  margin: 5px;
  color: #1ab1ba;
}
#search {
  width: 600px;
  height: 40px;
  background-color: #ebedee;
  border-radius: 5px;
  border: none;
}
.button1 {
  border: none;
  background-color: #1ab1ba;
  color: white;
  width: 150px;
}
header > .col1 img {
  width: 150px;
}

section {
  background-color: #ebedee;
}
.avatar {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 50%;
}
.photo {
  width: 240px;
  height: 350px;
  object-fit: cover;
}
.banner {
  height: 580px;
  width: 100%;
  object-fit: cover;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}
.offer {
  margin-top: 5px;
  margin-bottom: 15px;
}
.offerPage {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  gap: 20px;
}
.offerPage > div:first-child {
  margin-top: 30px;
  width: 400px;
}
.offerPage > div:first-child > img {
  width: 400px;
  object-fit: contain;
}
.offerPage > div:last-child {
  margin-top: 30px;
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.offerPage div {
  padding-top: 2px;
}

.offerPage button {
  background-color: #1ab1ba;
  width: 100%;
  height: 35px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
}
.subDetails {
  display: flex;
  color: #848484;
}
.subDetails > div:last-child {
  font-weight: 600;
}
.subDetails > div {
  flex: 1;
}
.details {
  border-bottom: 1px solid #ebedee;
  padding-bottom: 50px;
}
.App {
  position: relative;
}
.modal-root {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal {
  background-color: white;
  width: 500px;
  height: 100vh;
  border-radius: 10px;
  border: solid 1px #848484;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  position: relative;
}
input {
  border: none;
  border-bottom: solid 1px #848484;
}
.close {
  width: 25px;
  position: absolute;
  right: 20px;
}

.scroll-lock {
  overflow: hidden;
}
